<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ebooks enviados para o Kindle</h1>

    <ul>
      <%- @ebooks.each do |ebook| %>
        <li><%= ebook %></li>
      <% end %>
    </ul>
  </body>
</html>
